body,
button,
input,
select,
textarea {
  font-family: 'Lato', sans-serif;
}

.content:not(:last-child) {
  margin-bottom: 0px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 900;
}

.thin {
  font-weight: 300;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-main {
  display: flex;
  flex: 1;
}

.layout-content {
  flex: 1;
}

.layout-browser {
  height: 100%;
  width: 100%;
}

.layout-left {
  flex: 0 0 12em;
  order: -1;
}

.layout-right {
  flex: 0 0 12em;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.border-top {
  border-top: 1px solid grey;
}

.border-right {
  border-right: 1px solid grey;
}

.border-left {
  border-left: 1px solid grey;
}

